
* {
  font-family: "Roboto";
}

body {
  min-width: 310px;
}


.outline {
  background-color: white;
  border: 1px black solid;
}


.space {
  padding: 40px;
}


.small {
  size: 9pt;
}


.verticalLine {
  border-left: 1px solid #EEEEEE;
}


.col-xs-1_8 {
  width: 12.5%;
  padding: 0px 2px;
}

.day {
  margin-bottom: 20px;
}
