* {
  font-family: "Roboto";
}


.outline {
  background-color: white;
  border: 1px black solid;
}


.space {
  padding: 40px;
}


.small {
  size: 10pt;
}

.less_space {
  padding: 0px;
}


.verticalLine {
  border-left: 1px solid #EEEEEE;
}
